:root {
  /* Colours */
  --color-bg: #f9e4d5; /* page background */

  /* Header */
  --color-head-bg: #ff4b00;

  /* Logotype */
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #000;
  /* Links */
  --color-link-bg: #ffff;
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 48px;
  --font-sub1-size: 48px;
  --font-h2-size: 36px;
  --font-h3-size: 32px;
  --color-headline-bg: #000;
  --color-headline-text-page: #fffae2;

  /* Tekst */
  --color-text-inverted: #ffffff;

  /*  Marginer */
  --margin-head-bottom: 25px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: #fff;
  --color-cta-card-bg: #ff4b00;
  /* news-cards */
  --color-news-bg: #ffffff;
  --color-news-bg-inverted: #f2c5b0;
  --color-cta-newscard-bg: #ff4b00;
  --color-cta-newscard-bg-inverted: #ffffff;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 48px;
  --headline2-size: 36px;
  --headline3-size: 32px;
  --bodytext-size: 20px;
  --cta-text-size: 32px;
  --followup-text-size: 16px;
  --form-submit-size: 16px;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infographic-bg: #712e2e;
  --color-form-box: #ffffff;
}

button[id^="info"] {
  background-color: #fffae2;
  color: #000000;
  border: none;
  border-radius: 37px;
  padding: 10px 25px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 8px;
}

button[id^="info"]:hover {
  background-color: #ff4b00;
  color: #ffffff;
}
/* FORM */
#register #form-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  margin-top: 60px;
}

/* HVIDE BOKSE */
#register .form-box {
  background: #fff;
  border-radius: 20px;
  width: 460px;
  height: 900px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* SORT HEADER */
#register .box-header {
  background: #000;
  color: #fffae2;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  padding: 14px 20px;
  margin-top: 20px;
  line-height: 1;
}

/* FORMULARINDEHOLD */
#register #webform {
  display: flex;
  flex-direction: column;
  padding: 32px 40px;
  gap: 16px;
}

/* LABELS */
#register #webform label {
  font-weight: 700;
  font-size: 0.95rem;
}

/* INPUTFELTER */
#register #webform input,
#register #webform textarea {
  width: 320px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 14px;
  font-size: 1rem;
  font-family: inherit;
}

#register #webform textarea {
  border-radius: 10px;
  height: 150px;
  resize: none;
}

/* KNAP */
#register .submit-btn {
  background: #ff4500;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-start;
  margin-top: 10px;
  transition: background 0.2s ease;
}

#register .submit-btn:hover {
  background: #e63d00;
}

/* SUMMARY */
#register .summary-content {
  padding: 32px 40px;
}

.summary-content p {
  margin-bottom: 18px;
}

.summary-content ul {
  margin-bottom: 25px;
  margin-left: 20px;
}

.summary-content li {
  margin-bottom: 6px;
}

.summary-content .warning {
  margin-top: 50px;
}

.warning {
  margin-top: 30px;
  padding: 18px 20px;
  background: #fff3cd;
  border-left: 5px solid #d39e00;
  border-radius: 4px;
  color: #4a3d00;
  font-size: 0.95rem;
  line-height: 1.6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* error messages */
.error-message {
  display: none;
  color: rgb(148, 95, 48);
  font-size: 0.85rem;
  margin-top: 4px;
}

/* red border + error message*/
.form-group:has(:user-invalid) input,
.form-group:has(:user-invalid) textarea {
  border-color: darkred;
  outline: 2px solid #f005;
}

.form-group:has(:user-invalid) .error-message {
  display: block;
}

#register .summary-content h2 {
  font-size: 1.6rem;
  margin-bottom: 22px;
}

#register .summary-content p {
  margin-bottom: 14px;
}

action-buttons {
  margin-top: 30px;
  display: flex;
  gap: 12px;
}

/* Godkend-knap */
.approve-btn {
  background: #ff4500;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.95rem;
  transition: 0.2s ease;
}

.approve-btn:hover {
  background: #e63d00;
}

/* Slet-knap */
.delete-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.95rem;
  transition: 0.2s ease;
}

.delete-btn:hover {
  background: #333;
}
#efficiency strong {
  font-size: 1.3rem;
  font-weight: 800;
}

#requirement {
  margin-top: 10px;
}
#requirement strong {
  margin-top: 10px;
  display: block;
}

.info-text p.placeholder {
  font-size: 1rem !important;
  line-height: 1.45;
  padding-top: 50px;
}
.hidden {
  display: none;
}

#main-disclamer-content img {
  width: 100px;
  height: auto;
  object-fit: contain;
  display: block;
}

#logotype-wrapper img {
  height: 65px;
  width: auto;
  display: block;
}

.site-footer {
  background: #111;
  color: #eee;
  padding: 4rem 4rem;
  margin-top: 4rem;
  font-size: 0.9rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  width: 100%;
}

.footer-col {
  flex: 1;
  min-width: 200px;
}

.footer-col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #f15a24;
}

.footer-col p,
.footer-col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 0.5rem;
}

.footer-col a {
  color: #ccc;
  text-decoration: none;
  transition: 0.2s;
}

.footer-col a:hover {
  color: #fff;
}

body {
  background-color: var(--color-bg);
  color: #000;
}

/* LIGHT MODE COLORS */
:root {
  --color-bg: #f9e4d5;
  --color-head-bg: #ff4b00;
  --color-text-logotype: #fffae2;
  --color-menu-bg: #000;
  --color-link-bg: #ffff;

  --color-card-bg: #ffffff;
  --color-news-bg: #ffffff;
  --color-info-bg: #ffffff;
  --color-form-box: #ffffff; /* light mode form box */

  --color-text: #000000;
  --color-text-inverted: #ffffff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* FORM BOX */
#register .form-box {
  background: var(--color-form-box);
  border-radius: 20px;
  width: 460px;
  height: 900px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.info-graphic,
.info-text {
  background-color: var(--color-info-bg);
}

/* DARK MODE COLORS */
body.dark {
  --color-bg: #373636 !important;
  --color-head-bg: #ff4b00;
  --color-menu-bg: #000000;
  --color-link-bg: #9c9898;

  --color-text: #ffffff;
  color: var(--color-text);

  --color-card-bg: #5e5353;
  --color-news-bg: #5e5353;
  --color-news-bg-inverted: #3f3838;
  --color-info-bg: #5e5353;
  --color-form-box: #5e5353;

  --color-cta-card-bg: #ff4b00;
  --color-cta-newscard-bg: #ff4b00;
  --color-cta-newscard-bg-inverted: #111111;
}

/* SWITCH */
.theme-switch {
  position: relative;
  width: 50px;
  height: 26px;
  display: inline-block;
  margin: 0 1.5rem;
}
.theme-switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background: #bdbdbd;
  border-radius: 34px;
  transition: 0.3s;
}
.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}
.theme-switch input:checked + .slider {
  background: #ff4500;
}
.theme-switch input:checked + .slider::before {
  transform: translateX(24px);
}
